@import "tailwindcss";

html, body, #root {
  min-height: 100vh;
  background-color: #ffffff;
}

/* Esconder barra de rolagem mantendo funcionalidade de scroll */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
